<h1 class="mt-5">Tasks</h1>

<ul class="mt-5">
  <% @tasks.each do |task| %>
    <li class="d-flex align-items-center gap-2 mb-3">
      <%= link_to task_path(task), class: "text-decoration-none" do %>
        <% task.title %>
      <% end %>
      <%= link_to task_path(task), method: "delete", class: "btn btn-sm btn-danger" do %>
        <i class="fas fa-trash-alt fa-xs"></i>
      <% end %>
    </li>
  <% end %>
  <%= link_to "Add new task", new_task_path, class: "btn btn-primary mt-4" %>
</ul>
